StockData/
logs/
.ipynb_checkpoints/
merge/
stockModel
env/
predictimg/
*pycache*/
*.un~
chip_data/
chip/
mean_var.csv
csv_data/
"\\"
Evaluate/gain.png
weekly_chip/
usa_stock_data/
stock_data/
build_config.py
